.bimsurfer-static-tree, .bimsurfer-static-tree * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    z-index: 1;
}

.bimsurfer-static-tree div.item {
    border-top: solid 1px #eee;
    line-height: 12pt;
}

.bimsurfer-static-tree > div > div.item {
    border: none;
}

.bimsurfer-static-tree div.bimsurfer-tree-label {
    margin-left: -100px;
    padding-left: 100px;
    width: 1000px;
    cursor: pointer;
}

.bimsurfer-static-tree .bimsurfer-tree-children-with-indent {
    padding-left: 10px;
}

.bimsurfer-static-tree div.selected {
    background: #6ae;
    color: white;
}

.bimsurfer-static-tree div.bimsurfer-tree-label:before {
  content: "\21b3  ";
}

.bimsurfer-static-tree div.bimsurfer-tree-eye:before {
    content: "\1f441";
}
  
.bimsurfer-tree-column {
    display: inline-block;
    overflow: hidden;
}

div.bimsurfer-tree-eye-off {
    opacity: 0.5;
}