.bimsurfer-static-tree, .bimsurfer-metadata {
    overflow: hidden;
    overflow-y: scroll;
}

.bimsurfer-static-tree, .bimsurfer-static-tree * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    z-index: 1;
}

.bimsurfer-static-tree div.item {
    border-top: solid 1px #eee;
    line-height: 12pt;
}

.bimsurfer-static-tree > div > div.item {
    border: none;
}

.bimsurfer-static-tree div.bimsurfer-tree-label {
    margin-left: -100px;
    padding-left: 100px;
    cursor: pointer;
    white-space: nowrap;
}

.bimsurfer-static-tree .bimsurfer-tree-children-with-indent {
    padding-left: 10px;
}

.bimsurfer-static-tree div.selected {
    background: #6ae;
    color: white;
}

.bimsurfer-static-tree div.bimsurfer-tree-label,
.bimsurfer-static-tree div.bimsurfer-tree-label i {
    font-size: 15px !important;
    line-height: 24px !important;
}

.bimsurfer-static-tree div.bimsurfer-tree-label .collapse:before {
  content: "\e5ce  ";
}

.bimsurfer-static-tree div.bimsurfer-tree-node-collapsed .collapse:before {
  content: "\e5cf  ";
}

.bimsurfer-static-tree div.bimsurfer-tree-node-collapsed .item {
  display: none;
}

.bimsurfer-static-tree div.bimsurfer-tree-label i.icon.material-icons {
  font-size: 24px !important;
  margin-right: 0.3em;
  vertical-align: -5px;
}

.bimsurfer-static-tree .bimsurfer-tree-eye {
  float: right;
  padding-right: 0.5em;
  display: inline-block;
}

.bimsurfer-static-tree .bimsurfer-tree-eye:before {
    content: "\e8f4";
}
  
.bimsurfer-tree-column {
    display: inline-block;
    overflow: hidden;
}

i.bimsurfer-tree-eye-off {
    opacity: 0.2 !important;
}
